maincontent {
    align-items: center;
    direction: row;
}

login {
    padding: 10px;
    direction: column;
    align-items: center;
    gap: 10;
}

buttons {
    direction: row;
    gap: 10;
}